.step-one {
  max-height: 1000px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.step-one .card {
  overflow: visible;
  grid-template-columns: 55% auto;
  gap: 30px;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.tab {
  cursor: pointer;
  padding: 10px;
}

.tab:hover {
  background-color: #aaa;
}

.tab.active {
  background-color: #ccc;
}
